.role-choice {
    padding: 0.1rem; /* 2rem */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(12rem); /* 400px / 16px = 25rem */
}

.role-choice button {
    font-size: 1.5rem; /* 1.5rem */
    margin-top: 2rem; /* 2rem */
}

.background_role {
  background-image: url('../images/background.svg'); /* Zmień ścieżkę do nowego obrazu tła */
  background-size: cover; /* Możesz użyć różnych wartości, np. cover, contain, 100% 100%, itp. */
  background-repeat: no-repeat; /* Ustawienie powtarzania obrazu tła */
  background-position: center center; /* Pozycja obrazu tła */
  height: calc(100vh); /* Zachowaj wysokość tła */
}

.role-choice .MuiFormControlLabel-label {
    font-size: 1.563rem; /* 25px / 16px = 1.563rem */
}

.header_role {
    transform: translateY(5rem); /* 100px / 16px = 6.25rem */
    color: white;
    font-size: 4.375rem; /* 70px / 16px = 4.375rem */
    font-weight: bold;
    text-align: center;
}
