.role-choice {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(400px);
}

.role-choice button {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.background {
  background-image: url('../images/background.svg');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 60px);
}

.role-choice .MuiFormControlLabel-label {
    font-size: 25px
}

.header {
    transform: translateY(100px);
    color: white;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
