.role-choice {
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(12rem);
}

.role-choice button {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.background_role {
  background-image: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh);
}

.role-choice .MuiFormControlLabel-label {
    font-size: 1.563rem;
}

.header_role {
    transform: translateY(5rem);
    color: white;
    font-size: 4.375rem;
    font-weight: bold;
    text-align: center;
}
