.registration-form {
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(4rem);
}

.registration-form button {
  font-size: 1.2rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.background_register {
  background-image: url('../images/background.svg');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 3.75rem);
}

.header_register {
  color: white;
  transform: translateY(4rem);
  font-style: revert;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}
