.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_text {
  margin-bottom: 2vh;
}

.login_form button {
  font-size: 1.2rem;
  margin-top: 2vh;
}

.background_login {
  background-image: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Adjusted to make the blue background narrower */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header_login {
  color: white;
  margin-top: 15vh;
  font-style: revert;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10vh;
}

.logo_bottom_log {
  width: 60vw;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  transform: translateX(30%);
}

.login_container {
  padding: 5vh 2vw;
  /*border-radius: 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 400px;
  margin-top: 10vh;
  border-radius: 0.5rem;
  margin-bottom: 5vh;
}

@media (max-width: 600px) {
  .header_login {
    font-size: 3vh;
  }

  .login_form button {
    font-size: 1rem;
  }

  .logo_bottom_log {
    width: 60vw;
    max-width: 150px;
  }
}
