.login_form {
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(8rem);
}

.login_form input[type="text"],
.login_form input[type="password"] {
  font-size: 1rem;
}

.login_text{
    margin-bottom: 1rem;
}

.login button {
  font-size: 1.2rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.register button {
  font-size: 10rem;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.background_login {
  background-image: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.header_login {
  color: white;
  transform: translateY(4rem);
  font-style: revert;
  font-size: 4.375rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}
.logo_bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(70%);
  width: 70em;
  height: auto;
}
