.examination {
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(3rem);
}

.background_ex {
  background-image: url('../images/background.svg');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 3.75rem);
}

.examination button {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.header_ex {
  color: white;
  transform: translateY(2rem);
  font-style: revert;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.25rem;
}

.myButton {
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 9999;
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}

.myButton svg {
  width: 5rem;
  height: 5rem;
}

.myButton span {
  margin-top: 0.3125rem;
  font-size: 1.2rem;
}

.reportsButton {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 9999;
  width: 6.5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
}

.reportsButton .icon {
  width: 5rem;
  height: 5rem;
}

.reportsButton span {
  margin-top: 0.3125rem;
  font-size: 1.25rem;
}
